# 🛳️ Using ML To Predict Which Passeners Surrvived The Titanic Shipwreck!

## Problem Defination
"what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc). 

## Data
> The Data For This Project was taken from :- https://www.kaggle.com/competitions/titanic/data
* train.csv contains the training data for the model
* test.csv contains the testing data on which the model is to be tested
* gender_submission.csv is the format in which the predictions are to be submitted to Kaggle

## Evaluation
The evaluation metric for this model is *accuracy*
> For More Information, Check Out :- https://www.kaggle.com/competitions/titanic/overview/evaluation

In [1]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('titanic/train.csv')
df.head().T

,0,1,2,3,4
PassengerId,1,2,3,4,5
Survived,0,1,1,1,0
Pclass,3,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry"
Sex,male,female,female,female,male
Age,22.0,38.0,26.0,35.0,35.0
SibSp,1,1,0,1,0
Parch,0,0,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450
Fare,7.25,71.2833,7.925,53.1,8.05
Cabin,NaN,C85,NaN,C123,NaN
Embarked,S,C,S,S,S

In [11]:
df.size

10692

In [12]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Cleaning The Data

In [56]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [54]:
def clean_data(df):
    df['Age'].fillna(df['Age'].median(), inplace=True)
    df.dropna(subset=['Embarked'], inplace=True)
    df.dropna(subset=['Cabin'], inplace=True)
    return df

In [59]:
train_df_clean = clean_data(df)
train_df_clean.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [60]:
train_df_clean.to_csv('titanic/train_clean.csv', index=False)

## Modelling The Data