# 🛳️ Using ML To Predict Which Passeners Surrvived The Titanic Shipwreck!

## Problem Defination
"what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc). 

## Data
> The Data For This Project was taken from :- https://www.kaggle.com/competitions/titanic/data
* train.csv contains the training data for the model
* test.csv contains the testing data on which the model is to be tested
* gender_submission.csv is the format in which the predictions are to be submitted to Kaggle

## Evaluation
The evaluation metric for this model is *accuracy*
> For More Information, Check Out :- https://www.kaggle.com/competitions/titanic/overview/evaluation

In [2]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('titanic/train.csv')
df.head().T

,0,1,2,3,4
PassengerId,1,2,3,4,5
Survived,0,1,1,1,0
Pclass,3,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry"
Sex,male,female,female,female,male
Age,22.0,38.0,26.0,35.0,35.0
SibSp,1,1,0,1,0
Parch,0,0,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450
Fare,7.25,71.2833,7.925,53.1,8.05
Cabin,NaN,C85,NaN,C123,NaN
Embarked,S,C,S,S,S

In [11]:
df.size

10692

In [12]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Cleaning The Data

In [56]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [54]:
def clean_data(df):
    df['Age'].fillna(df['Age'].median(), inplace=True)
    df.dropna(subset=['Embarked'], inplace=True)
    df.dropna(subset=['Cabin'], inplace=True)
    return df

In [59]:
train_df_clean = clean_data(df)
train_df_clean.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [60]:
train_df_clean.to_csv('titanic/train_clean.csv', index=False)

## Encoding The Data

Many features in this dataset are in text format. Hence, they need to be converted to numerical format before proceeding.

In [3]:
train_df_clean = pd.read_csv('titanic/train_clean.csv')

In [4]:
train_df_clean.head().T

,0,1,2,3,4
PassengerId,2,4,7,11,12
Survived,1,1,0,1,1
Pclass,1,1,1,3,1
Name,"Cumings, Mrs. John Bradley (Florence Briggs Th...","Futrelle, Mrs. Jacques Heath (Lily May Peel)","McCarthy, Mr. Timothy J","Sandstrom, Miss. Marguerite Rut","Bonnell, Miss. Elizabeth"
Sex,female,female,male,female,female
Age,38.0,35.0,54.0,4.0,58.0
SibSp,1,1,0,1,0
Parch,0,0,0,1,0
Ticket,PC 17599,113803,17463,PP 9549,113783
Fare,71.2833,53.1,51.8625,16.7,26.55
Cabin,C85,C123,E46,G6,C103
Embarked,C,S,S,S,S

In [5]:
train_df_clean.drop('Name', axis=1, inplace=True)

In [6]:
train_df_clean.head().T

                    0       1        2        3       4
PassengerId         2       4        7       11      12
Survived            1       1        0        1       1
Pclass              1       1        1        3       1
Sex            female  female     male   female  female
Age              38.0    35.0     54.0      4.0    58.0
SibSp               1       1        0        1       0
Parch               0       0        0        1       0
Ticket       PC 17599  113803    17463  PP 9549  113783
Fare          71.2833    53.1  51.8625     16.7   26.55
Cabin             C85    C123      E46       G6    C103
Embarked            C       S        S        S       S

In [7]:
# Features to be converted - Sex, Ticket, Cabin, Embarked
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()

train_df_clean[['Sex', 'Ticket', 'Cabin', 'Embarked']] = encoder.fit_transform(train_df_clean[['Sex', 'Ticket', 'Cabin', 'Embarked']])

In [8]:
train_df_clean.head().T

                    0     1         2      3      4
PassengerId    2.0000   4.0    7.0000   11.0  12.00
Survived       1.0000   1.0    0.0000    1.0   1.00
Pclass         1.0000   1.0    1.0000    3.0   1.00
Sex            0.0000   0.0    1.0000    0.0   0.00
Age           38.0000  35.0   54.0000    4.0  58.00
SibSp          1.0000   1.0    0.0000    1.0   0.00
Parch          0.0000   0.0    0.0000    1.0   0.00
Ticket       123.0000  36.0   62.0000  134.0  31.00
Fare          71.2833  53.1   51.8625   16.7  26.55
Cabin         80.0000  54.0  128.0000  144.0  48.00
Embarked       0.0000   2.0    2.0000    2.0   2.00

In [9]:
train_df_clean['Embarked'].value_counts()

2.0    129
0.0     69
1.0      4
Name: Embarked, dtype: int64

In [11]:
train_df_clean['Survived'].value_counts()

1    134
0     68
Name: Survived, dtype: int64

In [73]:
train_df_clean.corr()['Survived']

PassengerId    0.111985
Survived       1.000000
Pclass        -0.030513
Sex           -0.545297
Age           -0.228967
SibSp          0.138202
Parch          0.042456
Ticket         0.062549
Fare           0.128261
Cabin          0.038628
Embarked      -0.130910
Name: Survived, dtype: float64

## Modelling The Data

In [12]:
# taking only those features which have a +ve correlation with the target variable

X = train_df_clean[['PassengerId', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin']]
y = train_df_clean['Survived']

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [14]:
# using a basic Logistic Regressor model

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

LogisticRegression()

In [18]:
from sklearn.metrics import classification_report

logistic_y_preds = logreg.predict(X_test)

print(classification_report(y_test, logistic_y_preds))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        22
           1       0.64      1.00      0.78        39

    accuracy                           0.64        61
   macro avg       0.32      0.50      0.39        61
weighted avg       0.41      0.64      0.50        61

c:\Users\MSI\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\MSI\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\MSI\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [19]:
# pulling out the big guns
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(X_train, y_train)

RandomForestClassifier()

In [21]:
rf_y_preds = model.predict(X_test)

print(classification_report(y_test, rf_y_preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        22
           1       1.00      1.00      1.00        39

    accuracy                           1.00        61
   macro avg       1.00      1.00      1.00        61
weighted avg       1.00      1.00      1.00        61